<footer id="footer">
   <h2>©Mohit Website. All Rights Reserved</h2>
   <ul>
       <li><a href="/">Home</a></li>
       <% if(locals.user){ %>
            <li><a href="/users/profile/<%= user.id %>">Profile</a></li>
       <% } %>
   </ul> 
</footer>